PORT=3333

# local (yarn dev fora do docker)
DATABASE_URL=postgresql://taskmanager:taskmanager@localhost:5432/taskmanager

# docker (usado automaticamente pelo docker-compose na service api)
# DATABASE_URL=postgresql://taskmanager:taskmanager@postgres:5432/taskmanager
